.videoCard {
  border: 2px solid var(--black);

  background-color: var(--background-strong); /* Color de fondo */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  margin: 20px; /* Espaciado externo */
  max-width: 1200px; /* Ancho máximo */
  width: 100%;
  display: flex; /* Flexbox para disposición en columnas */
  gap: 20px; /* Espacio entre columnas */
}

.content {
  display: flex; /* Flexbox para alinear el video y el texto */
  width: 100%; /* Asegura que ocupe todo el ancho */
  gap: 20px;
}

.videoContainer {
  position: relative;
  padding-bottom: 30%; /* Proporción de aspecto ajustada */
  height: 0;
  overflow: hidden;
  width: 50%; /* La columna de video ocupa la mitad */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
  transition: transform 0.3s ease-in-out; /* Transición suave */
}

.videoContainer:hover {
  transform: scale(1.05); /* Efecto al hacer hover */
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: none; /* Sin bordes para el iframe */
}

.textColumn {
  width: 50%; /* La columna de texto ocupa la otra mitad */
  display: flex; /* Flexbox para el contenido */
  flex-direction: column; /* Disposición en columna */
  justify-content: center; /* Centrar verticalmente */
}

.title {
  margin-bottom: 10px; /* Espacio debajo del título */
  color: var(--section-2-title); /* Color del texto */
}

/* Media Queries para hacer el diseño responsivo */
@media (max-width: 768px) {
  .content {
    flex-direction: column; /* Cambiar a disposición en columna en pantallas pequeñas */
  }

  .videoContainer,
  .textColumn {
    width: 100%; /* Ambas columnas ocupan el 100% del ancho */
  }

  .videoContainer {
    padding-bottom: 56.25%; /* Mantener proporción de aspecto 16:9 */
  }
}
