.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Centrado vertical */
  padding: 0 60px;
  background-color: var(--background-color);
  overflow-x: clip;
  max-width: 100%;
}
.nextProjectContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  max-width: 1200px;
  cursor: pointer;
  margin-top: 10px;
  color: var(--text-color);
  font-weight: bold;
  justify-content: right;
}

.arrowIcon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
}

.nextProjectContainer:hover .arrowIcon {
  transform: translateX(5px); /* Añade un efecto de movimiento */
}
.card {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  max-width: 1200px;
}

.border10 {
  border-radius: 10px;
}

.titleCard {
  margin-top: 130px;
}

.titleCard h1 {
  margin: 0px;
  color: var(--white);
}

.backgroundColor {
  background-color: var(--section-1-background); /* Lila */
}

.whiteBackground {
  border: 2px solid var(--black);
  background-color: var(--background-strong); /* Blanco */
}

.leftColumnProject {
  width: 50%;
  color: var(--white);
}

.rightColumnProject {
  width: 50%;
}

.rightColumnProject img {
  width: 100%;
}

.centerText {
  text-align: center;
}

.tagsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.twoColumnLayout {
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.leftColumn {
  width: 30%;
}
.leftColumnIcons h2 {
  color: var(--text-color);
}

.rightColumn {
  width: 40%;
}

.leftColumnIcons {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.iconRow {
  display: flex;
  gap: 10px;
}

.carousel {
  overflow-x: auto;
  display: flex;
  justify-content: flex-start; /* Cambia esto a flex-start para que se alinee a la izquierda */
  align-items: center;
  width: 100%;
  scroll-snap-type: x mandatory; /* Añade esta línea para habilitar el scroll snapping */
}

.scrollContainer {
  display: flex;
  gap: 20px;
}

.carouselImage {
  width: 300px;
  height: 300px;
  object-fit: cover;
  scroll-snap-align: start; /* Asegúrate de que esto esté configurado correctamente */
}

.twoThirdsLayout {
  display: flex;
  justify-content: space-between;
}
.separator {
  border: none;
  border-top: 1px dashed var(--section-1-background); /* Cambia el color según sea necesario */
  margin: 20px 0; /* Espaciado alrededor de la línea */
}

/* MEDIA QUERIES */

/* Pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .pageContainer {
    padding: 0 30px;
  }

  .leftColumnProject,
  .rightColumnProject {
    width: 100%;
  }

  .twoColumnLayout,
  .twoThirdsLayout {
    flex-direction: column;
    gap: 10px;
  }

  .leftColumn,
  .rightColumn,
  .leftColumnIcons {
    width: 100%;
  }

  .iconRow {
    justify-content: center;
    flex-wrap: wrap;
  }

  .tagsContainer {
    flex-wrap: wrap;
    gap: 5px;
  }

  .carouselImage {
    width: 250px;
    height: 250px;
  }
}

/* Pantallas medianas (tablets) */
@media (max-width: 1024px) {
  .leftColumnProject,
  .rightColumnProject {
    width: 100%;
  }

  .twoColumnLayout,
  .twoThirdsLayout {
    flex-direction: column;
  }

  .leftColumn,
  .rightColumn,
  .leftColumnIcons {
    width: 100%;
  }

  .iconRow {
    flex-wrap: wrap;
  }

  .carouselImage {
    width: 280px;
    height: 280px;
  }
}
