/* src/components/Tags/Tag.module.css */
.tag {
  padding: 5px 10px;

  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 800;
  color: var(--text-color); /* Color del texto */
  white-space: nowrap;
  box-sizing: border-box; /* Asegurarse de que el padding y el borde se consideren en el tamaño total */
}

.ux {
  background-color: var(--yellow);
}

.ui {
  background-color: var(--blue);
}

.coding {
  background-color: var(--lavander);
}

.graphicDesign {
  background-color: var(--turquoise);
}

.defaultTag {
  border-color: #bdc3c7; /* Color de respaldo */
  background-color: transparent;
}
