.fleetManagementCard {
  border: 2px solid var(--black);
  background-color: var(--background-strong); /* Color de fondo */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  margin: 20px; /* Espaciado externo */
  max-width: 1200px; /* Ancho máximo */
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column; /* Disposición en columna */
}

.title {
  text-align: center;
  margin-bottom: 10px; /* Espacio debajo del título */
  color: var(--accent); /* Color del texto */
}

.iconContainer {
  display: flex;
  justify-content: center; /* Centra el icono */
  margin-bottom: 20px; /* Espacio debajo del icono */
}

.carouselContainer {
  margin-bottom: 20px; /* Espacio debajo del carrusel */
}

.disclaimer {
  font-size: 0.9em; /* Tamaño de fuente más pequeño */
  text-align: center; /* Centra el texto */
  font-style: italic;
  color: var(--accent);
}
