.descriptionLayout {
  display: flex;
  justify-content: space-between;
  gap: 150px;
  width: 100%;
  margin-bottom: 20px;
}

.dottedLine {
  border: none;
  border-top: 1px dotted #ccc; /* Cambia el color y el estilo según sea necesario */
  margin: 20px 0; /* Espaciado alrededor de la línea */
}

.leftColumnIcons {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.iconRow {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; /* Para que los íconos hagan wrap si hay muchos */
}

.icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.rightColumn {
  margin-top: -1em;
  width: 50%;
}

/* Estilos de texto */
.descriptionLayout h2 {
  color: var(--secondary-text-color);
  margin-top: 0px;
  font-size: 1.5rem; /* Tamaño de fuente para h2 */
}

/* Estilos para párrafos */
p {
  margin: 10px 0; /* Espacio vertical entre párrafos */
  font-size: 1rem; /* Tamaño de fuente de los párrafos */
  line-height: 1.5; /* Espaciado entre líneas para mayor legibilidad */
}

/* Estilos para listas */
ul {
  padding-left: 20px; /* Espacio a la izquierda para las listas */
  margin: 10px 0; /* Espacio vertical */
}

li {
  margin: 5px 0; /* Espacio vertical entre los elementos de la lista */
  font-size: 1rem; /* Tamaño de fuente de los elementos de lista */
}

/* Media Queries */
@media (max-width: 1024px) {
  .descriptionLayout {
    gap: 100px;
  }
}

@media (max-width: 768px) {
  .descriptionLayout {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    gap: 20px; /* Espacio reducido entre columnas */
  }

  .leftColumnIcons,
  .rightColumn {
    width: 100%; /* Ambas columnas ocupan el 100% del ancho */
  }

  .iconRow {
    justify-content: center; /* Centrar los íconos */
  }

  /* Ajustes de tamaño de fuente */
  .descriptionLayout h2 {
    font-size: 1.3rem; /* Tamaño de fuente más pequeño en pantallas medianas */
  }

  p {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño para párrafos */
  }

  li {
    font-size: 0.9rem; /* Tamaño de fuente más pequeño para listas */
  }
}

@media (max-width: 480px) {
  .icon {
    width: 40px;
    height: 40px;
  }

  /* Ajustes de tamaño de fuente */
  .descriptionLayout h2 {
    font-size: 1.1rem; /* Tamaño de fuente aún más pequeño */
  }

  p {
    font-size: 0.8rem; /* Tamaño de fuente más pequeño para párrafos */
  }

  li {
    font-size: 0.8rem; /* Tamaño de fuente más pequeño para listas */
  }
}
