.menuLink {
  font-family: "Poppins";
  text-decoration: none; /* Sin subrayado en el texto */
  color: var(--text-color); /* Texto en blanco */
  background-color: var(--white);
  font-size: 1rem; /* Tamaño de la fuente */
  padding: 5px 20px; /* Espaciado interno para el botón */
  border-radius: 5px; /* Bordes muy redondeados */
  transition: background-color 0s; /* Transición suave para el color de fondo */
  display: inline-block; /* Asegura que el botón se ajuste al contenido */
  box-shadow: 5px 5px 0px var(--black); /* Sombra con posición X 4, Y 4, sin blur, color #c0c0c0 */
  stroke-width: 3px;
  border: 2px solid var(--text-color);
}

.menuLink:hover {
  background-color: var(--white); /* Color de fondo al pasar el mouse */
  box-shadow: 6px 6px 0px var(--green2); /* Sombra con posición X 4, Y 4, sin blur, color #c0c0c0 */
}

@media (max-width: 768px) {
  .menuLink {
    margin: 0px 15px;
  }
}
