/* Estilos para la superposición del modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  z-index: 1000; /* Asegura que esté sobre otros elementos */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Añadir un poco de padding para evitar que el modal toque los bordes en pantallas pequeñas */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

/* Estilos para la ventana del modal */
.modalContent {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 20px;
  width: 100%; /* Ajusta según lo necesites */
  margin: 50px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Sombra */
  animation: fadeIn 0.3s ease-in-out; /* Efecto de fade-in */
  z-index: 1001;
  position: relative;
  text-align: right;
  overflow: hidden; /* Asegura que el contenido no sobresalga */
}

/* Efecto de fade-in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Botón para cerrar el modal */
.closeButton {
  font-family: "Poppins";
  text-decoration: none; /* Sin subrayado en el texto */
  color: var(--text-color); /* Texto en blanco */
  background-color: var(--white);
  font-size: 1rem; /* Tamaño de la fuente */
  padding: 5px 20px; /* Espaciado interno para el botón */
  border-radius: 5px; /* Bordes muy redondeados */
  transition: background-color 0s; /* Transición suave para el color de fondo */
  display: inline-block; /* Asegura que el botón se ajuste al contenido */
  box-shadow: 5px 5px 0px var(--black); /* Sombra con posición X 4, Y 4, sin blur, color #c0c0c0 */
  stroke-width: 3px;
  border: 2px solid var(--text-color);
}

/* Efecto hover para el botón de cerrar */
.closeButton:hover {
  background-color: var(--white); /* Color de fondo al pasar el mouse */
  box-shadow: 6px 6px 0px var(--green2); /* Sombra con posición X 4, Y 4, sin blur, color #c0c0c0 */
}

.modalImage {
  width: 100%;
  max-width: 100%;
  max-height: 80vh; /* Asegura que la imagen nunca exceda la altura de la pantalla */
  object-fit: contain; /* Ajusta la imagen dentro del modal sin recortarla */
  transition: transform 0.3s ease;
  margin-top: 10px;
}

/* RESPONSIVE DESIGN */

/* Para pantallas medianas, como tablets */
@media (max-width: 768px) {
  .modalContent {
    width: 100%; /* Ocupar un poco más de la pantalla */
    padding: 15px; /* Reducir el padding para tablets */
    margin: 20px;
  }

  .closeButton {
    font-size: 14px; /* Ajustar el tamaño del botón de cerrar */
  }
}

/* Para pantallas pequeñas, como móviles */
@media (max-width: 480px) {
  .modalContent {
    width: 100%; /* Ocupar casi todo el ancho de la pantalla */
    padding: 10px; /* Reducir aún más el padding */
    max-width: 100%; /* Sin tamaño máximo para móviles */
    margin: 10px;
  }

  .closeButton {
    font-size: 12px; /* Reducir el tamaño del botón de cerrar */
    top: 5px; /* Ajustar la posición en móviles */
    right: 5px;
  }

  .modalImage {
    width: 100%; /* Asegurar que las imágenes ocupen todo el ancho */
    height: auto; /* Mantener la proporción de las imágenes */
  }
}
