/* Carousel.module.css */
.card {
  padding: 20px;
  border-radius: 10px;
}

.carouselHeader {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.carousel {
  overflow-x: auto;
  display: flex;
  padding-bottom: 10px;
}

.scrollContainer {
  display: flex;
  gap: 15px;
}

.carouselImage {
  max-height: 400px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.carouselImage:hover {
  transform: scale(1.05); /* Se agranda un poco al hacer hover */
}

/* Responsive */
@media (max-width: 768px) {
  .carouselImage {
    max-height: 250px;
  }
}
