.footer {
  background-color: var(--background-strong);
  padding: 20px;
  text-align: center;
  position: relative; /* Asegura que se posicione correctamente */
  margin-top: 50px;
  bottom: 0; /* Coloca el footer en la parte inferior */
}

.footerContent {
  max-width: 1200px; /* Mantiene el contenido centrado y con un ancho máximo */
  margin: 0 auto; /* Centra el contenido dentro del footer */
}

.footerNav {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre los enlaces */
  margin-bottom: 10px;
}

.footerNav a {
  color: var(--text-color);
  text-decoration: none; /* Sin subrayado */
  transition: color 0.3s; /* Transición suave para el color */
  cursor: pointer;
}

.footerNav a:hover {
  color: var(--highlight-color); /* Cambia el color al pasar el ratón */
}

.footerText {
  color: var(--text-color);
}
@media (max-width: 768px) {
  .footerNav a {
    font-size: 13px;
  }
  .footerText {
    font-size: 13px;
  }
}
